
#album {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    img,
    div {
        @include fflex(100%);
        @media #{$min-width-lg} {
            @include fflex(49%);
        }
    }
    img {
        @media #{$min-width-sm} {
            width: 80%;
        }
        @media #{$min-width-lg} {
            width: 50%;
        }
        @media screen and (orientation:landscape) {
            max-width: 80%;
        }
    }
    div {
        @include display-flex(flex);
        @include flex-direction(column);
        p {
            max-width: 90%;
            &:nth-child(2) {
                z-index: 10;
                max-width: initial;
                margin-left: 10%;
                margin-right: -2.5%;
                @media #{$min-width-lg} {
                    margin-right: -10%;
                }
                padding: 15px;
                background-color: $bg-lightblue;
            }
            .musicien {
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}
