
#announce {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content-between;
    background-color: $bg-light;
    padding: 2rem 1rem;
    .top,
    .youtube-video {
        @include fflex(100%);
    }
    .message,
    .media {
        @include fflex(100%);
        @media #{$min-width-lg} {
            @include fflex(49%);
        }
    }
    .top {
        margin: 15px 0;
        h2, h3 {
            color: $black;
            text-align: center;
            margin-bottom: 0;
        }
        .encart {
            border-radius: 10px;
            background-color: $lightblue;
            margin: auto;
            padding: 20px;
            @include transform(rotate(-4deg));
            @media #{$min-width-xs} {
                width: 60%;
                max-width: 350px;
            }
            @media #{$min-width-md} {
                width: 50%;
            }
            h2, h3 {
                line-height: 1;
                color: $white;
            }
        }
    }
    .message {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
    }
    .media {
        margin: 25px 0;
        display: none;
        @media #{$min-width-lg} {
            display: block;
        }
    }
}
