
#concerts {
    background-color: $bg-darker;
    .event {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);
        background-color: $bg-dark;
        margin-bottom: 1rem;
        padding: 10px 20px;
        color: $white;
        h2, h3, h4, h5, h6 {
            margin-bottom: 0;
            line-height: 1.5rem;
        }
        .date-area {
            @include fflex(65%);
            margin: 1rem 0;
            @media #{$min-width-md} {
                @include fflex(10%);
            }
            @include display-flex(flex);
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);

        }
        .time-area {
            @include fflex(35%);
            @media #{$min-width-md} {
                @include fflex(10%);
            }
        }
        .description-area {
            @include fflex(100%);
            @media #{$min-width-md} {
                @include fflex(80%);
            }
            overflow: hidden;
            word-wrap: break-word;
            margin: 10px 0;
        }
    }
}
