
#contact {
    background-color: $bg-light;
    color: $white;
    .container {
        max-width: 800px;
        margin: auto;
        form {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include align-items(center);
            @include justify-content-between;
            .box1,
            .box2 {
                @include fflex(100%);
                @media #{$min-width-md} {
                    @include fflex(49.5%);
                }
            }
            .input {
                margin: 1.5rem 0;
            }
            .submit {
                text-align: right;
            }
        }
    }
}
