
footer {
    background-color: $bg-darker;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 14px;
    .copyright {
        padding: 2px 5px;
        color: $gray-100;
        a {
            font-weight: 800;
            color: $gray-400;
            &:hover,
            &:focus,
            &:active {
                color: darken($gray-400, 15%);
            }
        }
    }
}
