
header {
    background-image: url('../img/header-lg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 50vh;
    @media #{$min-width-sm} {
        height: 60vh;
    }
    @media screen and (orientation:landscape) {
        height: 70vh;
    }
}
