
#musiciens {
    padding: 0;
    .musicien {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        /* Workaround to avoid the bug of the white string on the bottom of the image */
        background-color: black;
        &.audrey {
            h4,
            strong {
                color: $color-audrey;
            }
            .encart {
                background-color: $bg-audrey;
            }
        }
        &.francois {
            h4,
            strong  {
                color: $color-francois;
            }
            .encart {
                background-color: $bg-francois;
            }

        }
        &.clement {
            h4,
            strong {
                color: $color-clement;
            }
            .encart {
                background-color: $bg-clement;
            }
        }
        &.yoann {
            h4,
            strong {
                color: $color-yoann;
            }
            .encart {
                background-color: $bg-yoann;
            }
        }
        img,
        .bio {
            @include fflex(100%);
            @media #{$min-width-lg} {
                @include fflex(50%);
            }
        }
        img {
            order: 1;
            @media screen and (orientation:landscape) {
                max-width: 80%;
                margin: auto;
            }
        }
        .bio {
            order: 2;
            z-index: 10;
            @include display-flex(flex);
            @include flex-direction(column);
            @include align-items(center);
            justify-content: center;
            margin-bottom: 0;
            padding: 15% 10%;
            @media #{$min-width-sm} {
                padding: 2.5% 10%;
            }
            @media #{$min-width-lg} {
                padding: 0 2.5%;
            }
            p {
                font-size: 1rem;
                @media #{$min-width-xl} {
                    font-size: 1.125rem;
                }
                &.encart {
                    color: $white;
                    padding: 10px;
                    strong {
                        color: $white !important;
                    }
                }
            }
            &.light {
                background-color: $bg-light;
                color: $gray-700;
                .encart {
                    margin-left: -10%;
                    margin-right: 5%;
                    @media #{$min-width-lg} {
                        margin-left: -20%;
                    }
                }
            }
            &.dark {
                background-color: $bg-dark;
                color: $gray-600;
                @media #{$min-width-lg} {
                    // Inverse order on dark class and large screen
                    order: 0;
                }
                .encart {
                    margin-left: 5%;
                    margin-right: -10%;
                    @media #{$min-width-lg} {
                        margin-right: -20%;
                    }
                }
            }
        }
    }
}
