
#presentation {
    @include display-flex(flex);
    @include flex-direction(column);
    @include align-items(center);
    padding: 10%;
    @media #{$min-width-lg} {
        padding: 10% 17.5%;
    }
    @media #{$min-width-xl} {
        padding: 10% 25%;
    }
}
