
#social {
    padding: 3rem 1rem;
    text-align: center;
    background-color: $bg-darker;
    font-size: 2.25rem;
    @media #{$min-width-md} {
        font-size: 3rem;
    }
    a {
        text-decoration: none;
        color: $gray-400;
        &:hover {
            color: darken($gray-400, 15%);
        }
    }
}
