
a,
a:active,
a:focus {
    outline: none;
    background-color: transparent;
}

a {
    color: $dark;
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        color: darken($dark, 15%);
        text-decoration: none;
    }
}
