
body {
    font-family: 'Muli', Helvetica, Roboto, Arial, sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 70px 0 20% 0;
    @media #{$min-width-md} {
        margin: 110px 0 200px 0;
    }
}
