
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-100;
}

h1 {
    @media #{$min-width-md} {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    @media #{$min-width-lg} {
        font-size: 6rem;
        line-height: 5.5rem;
    }
}

h2 {
    font-size: 2.5rem;
    @media #{$min-width-md} {
        font-size: 3.5rem;
    }
}

h3 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    @media #{$min-width-md} {
        font-size: 2rem;
    }
}

h4 {
    color: $lightblue;
    font-size: 1.25rem;
    @media #{$min-width-md} {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

h5 {
    font-weight: 500;
    font-size: 1rem;
    @media #{$min-width-md} {
        font-size: 1.15rem;
    }
}
