
#main {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    background-color: $white;
    @media #{$min-width-md} {
        margin: 0 2.5%;
    }
    hr {
        width: 10%;
    }
    @import "../section/import";
}
