
$min-width-menu-toggle: #{$min-width-lg};

nav {
    z-index: 500;
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content-between;
    @include align-items(center);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 1);
    @media #{$min-width-menu-toggle} {
        padding: 5px 5%;
        background-color: rgba(0, 0, 0, .5);
    }
    @media #{$min-width-xl} {
        padding: 5px 10%;
    }
    @media #{$min-width-xxl} {
        padding: 5px 15%;
    }
    .logo {
        margin-left: 1.5rem;
        width: 80px;
        @media #{$min-width-menu-toggle} {
            width: 120px;
            @include fflex(calc(120px));
        }
        @media screen and (orientation:landscape) {
            display: none;
            @media (min-height: 480px) {
                display: block;
            }
        }
    }
    button {
        display: block;
        @media #{$min-width-menu-toggle} {
            display: none;
        }
        cursor: pointer;
        border: 0;
        margin-right: 1.5rem;
        span {
            display: block;
            border: 1px solid $white;
            width:30px;
            margin-bottom: 5px;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    #menu {
        /**
         * Toggle the menu with jQuery and display property
         */
        @include fflex(100%);
        display: none;
        &.show {
            display: block;
        }
        @media #{$min-width-menu-toggle} {
            @include fflex(calc(90% - 120px));
            display: block;
        }
        /**
         * The container is for center the menu on small devices
         */
        .container {
            @include display-flex(flex);
            @include justify-content(center);
            @include align-items(center);
            height: 60vh;
            @media #{$min-width-menu-toggle} {
                height: initial;
            }
            ul {
                list-style-type: none;
                list-style-position: outside;
                li {
                    margin: 1.25rem auto;
                    @media #{$min-width-menu-toggle} {
                        margin: 0 0 0 2rem;
                    }
                    a {
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $gray-300;
                        font-size: 1rem;
                        margin: 5px;
                        border-radius: 1px;
                        @media #{$min-width-sm} {
                            font-size: 1.5rem;
                        }
                        @media #{$min-width-menu-toggle} {
                            font-size: 1rem;
                        }
                        @media #{$min-width-xl} {
                            font-size: 1.2rem;
                        }
                        &.active,
                        &:hover {
                            border-bottom: 5px solid;
                        }
                    }
                }
                @media #{$min-width-menu-toggle} {
                    width: 100%;
                    text-align: right;
                    li {
                        display: inline;
                    }
                }
            }
        }
    }
}

.no-js nav:hover #menu {
    display: block;
}
