
#preloader {
    display: block;
    z-index: 99999;
    position: fixed;
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bg-dark;
    .bg {
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
        div {
            @include fflex(50%);
            &:nth-child(1) {
                height: 170px;
                width: 200px;
                margin-right: -50px;
                margin-bottom: -70px;
                background-color: $bg-francois;
            }
            &:nth-child(2) {
                height: 180px;
                width: 250px;
                background-color: $bg-yoann;
            }
            &:nth-child(3) {
                height: 260px;
                width: 350px;
                margin-left: -15px;
                margin-top: -25px;
                background-color: $bg-audrey;
            }
            &:nth-child(4) {
                height: 365px;
                width: 150px;
                margin-left: -15px;
                margin-top: -35px;
                background-color: $bg-clement;
            }
        }
    }
    .animation {
        position: absolute;
        font-family: sans-serif;
        color: $white;
        span {
            float: left;
            font-size: 48px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 48px;
            @for $i from 1 through 13 {
                &:nth-child(#{$i}){
                    animation: loader-item-#{$i} 2s linear infinite;
                }
            }
        }
        @for $i from 0 through 12 {
            @keyframes loader-item-#{$i+1} {
                #{$i+1+$i*5 * 1%}{
                    transform: scaleY(1);
                }
                #{$i+1+$i*5+10 * 1%}{
                    transform: scaleY(1.4);
                }
                #{$i+1+$i*5+20 * 1%}{
                    transform: scaleY(1);
                }
                100%{
                    transform: scaleY(1);
                }
            }
        }
    }
}

.no-js #preloader {
    display: none;
}
