
@import 'responsive.scss';

/**
 * Change wordpress login logo
 */

#login,
.login {
    h1 {
        a {
            background-image: url('img/logo.jpg');
            background-size: 200px;
            height: 200px;
            width: auto;
        }
    }
}
