
mark {
    color: $gray-800;
    padding: 0.2em;
    background-color: #fcf8e3;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    @media #{$min-width-sm} {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    &.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    &.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
}
