
/**
 * Restate Bootstrap Variables
 */

$bg-light: #F7F6F5;
$bg-dark: #1E1F23;
$bg-darker: #121315;

$color-francois: #D87216;
$color-yoann: #76C846;
$color-audrey: #DB37EA;
$color-clement: #B21212;

$encart-opacity: 0.75;
$bg-audrey: rgba(219, 55, 234, $encart-opacity);
$bg-francois: rgba(216, 114, 22, $encart-opacity);
$bg-clement: rgba(178, 18, 18, $encart-opacity);
$bg-yoann: rgba(118, 200, 70, $encart-opacity);

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$lightblue: #84CBE3;
$bg-lightblue: rgba(132, 203, 227, $encart-opacity);

$whiteTransparent: rgba(255,255,255,.5) !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #BD5D38 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$light:         $gray-100 !default;
$dark:          $gray-800 !default;
