
@import 'reboot.scss';
@import 'colors.scss';
@import 'responsive.scss';
@import 'mixins.scss';
@import 'keyframes.scss';
@import 'bootstrap.scss';

.francois {
    color: $color-francois !important;
}

.yoann {
    color: $color-yoann !important;
}

.audrey {
    color: $color-audrey !important;
}

.clement {
    color: $color-clement !important;
}

@import "element/body";
@import "element/headers";
@import "element/a";
@import "element/p";
@import "element/ul";
@import "element/button";
@import "element/nav";
@import "element/section";

input,
textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
    height: auto;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none; // Instead of frameborder=0
    }
}

.debugError {
    color: $white;
    background-color: red;
    font-weight: bold;
    padding: 2px 5px;
}

.no-js [data-aos] {
    opacity: 1;
    transform: translate(0) scale(1);
}

@import "element/preloader";
@import "element/main";
